<a href="https://colab.research.google.com/github/dnevo/Practicum/blob/master/S17_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', 200)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:11,.2f}'.format
np.set_printoptions(precision=2)

In [33]:
colab = True
if colab:
    data_path = 'https://raw.githubusercontent.com/dnevo/Practicum/master/datasets/'
else:
    data_path = '/datasets/'
df_phone = pd.read_csv(data_path + 'phone.csv')
df_personal = pd.read_csv(data_path + 'personal.csv')
df_internet = pd.read_csv(data_path + 'internet.csv')
df_contract = pd.read_csv(data_path + 'contract.csv')

In [34]:
df_customer = pd.merge(pd.merge(pd.merge(
    df_personal, 
    df_phone, on='customerID', how='outer'), 
    df_internet, on='customerID', how='outer'), 
    df_contract, on='customerID', how='outer')
df_customer.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,Female,0,Yes,No,NaN,DSL,No,Yes,No,No,No,No,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,Male,0,No,No,No,DSL,Yes,No,Yes,No,No,No,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,Male,0,No,No,No,DSL,Yes,Yes,No,No,No,No,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,Male,0,No,No,NaN,DSL,Yes,No,Yes,Yes,No,No,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,Female,0,No,No,No,Fiber optic,No,No,No,No,No,No,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65

In [35]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   MultipleLines     6361 non-null   object
 6   InternetService   5517 non-null   object
 7   OnlineSecurity    5517 non-null   object
 8   OnlineBackup      5517 non-null   object
 9   DeviceProtection  5517 non-null   object
 10  TechSupport       5517 non-null   object
 11  StreamingTV       5517 non-null   object
 12  StreamingMovies   5517 non-null   object
 13  BeginDate         7043 non-null   object
 14  EndDate           7043 non-null   object
 15  Type              7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.1+ MB

In [36]:
df_customer['churn'] = df_customer['EndDate'] != 'No'

In [38]:
df_customer['EndDate'] = df_customer['EndDate'].where(df_customer['EndDate'] != 'No', other=pd.Timestamp('2020-02-01'))
df_customer['EndDate'] = pd.to_datetime(df_customer['EndDate'])
df_customer['BeginDate'] = pd.to_datetime(df_customer['BeginDate'])

In [47]:
df_customer['months'] = (df_customer['EndDate'] - df_customer['BeginDate']).dt.days // 30